<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.holon.gpui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Holon"
        android:hasCode="false"
        android:debuggable="true">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">

            <meta-data
                android:name="android.app.lib_name"
                android:value="holon_gpui" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
